<div class="nav">
  <ul>
    <li><%= link_to "Expenses", society_expenses_path %></li>
    <li><%= link_to "Payments", society_user_payments_path(current_society, current_user) %></li>
    <li><%= link_to "Account", society_user_path %></li>
  </ul>
</div>
