<div id="main-header">
  <div id="find-place">
    <%= link_to "Login", '/login', class:"btn" %>
  </div>
</div>
<div id="main-page">
  <div id="content-container">
    <div id="content">
      <h1>Rmmts</h1>
      <input type="text"></input>
      <%= link_to "Get Started", new_user_path, class:"btn" %>
    </div>
  </div>
</div>
