<div id="main-header">
  <div id="find-place">
    <button>Login</button>
  </div>
</div>
<div id="main-page">
  <div id="content-container">
    <div id="content">
      <h1>Rmmts</h1>
      <input type="text"></input>
      <button type="submit">Get Started</button>
    </div>
  </div>
</div>
